services:
  - type: web
    name: tiktok-age-checker
    runtime: python
    buildCommand: |
      pip install -r requirements.txt && 
      PLAYWRIGHT_BROWSERS_PATH=/opt/render/.cache/ms-playwright playwright install chromium
    startCommand: uvicorn main:app --host 0.0.0.0 --port 8000
    envVars:
      - key: REDIS_HOST
        value: https://refined-mule-19659.upstash.io
      - key: REDIS_PORT
        value: "6379"
      - key: REDIS_PASSWORD
        value: AUzLAAIjcDFjNzY3MDY2YmQ1MDc0NWVmOTJmY2RkMGVmZWJmOWI0ZXAxMA
      - key: REDIS_SSL
        value: "true"
